*{
  margin: 0;
  padding: 0;
}
body, html {
  overflow:hidden;
  }
body img {
  width: 100%;
  height: 100%;
}

  #startScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #ffffff;
    position: relative;
  }
  
  .start-button {
    background-image: linear-gradient(to bottom, #f8c313 50%, #b58f04 100%); /* efecto Linear gradient */
    color: #0a0a23;
    padding: 6px 20px;
    font-size: 16px;
    border: 2px solid black; /* Borde sólido de 2px de grosor */
    cursor: pointer;
    position: relative;
    z-index: 2;
    top: 2%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    opacity: 0.9; /* Opacidad del 90% */
  }
    
  .start-button:hover {
    background-image: linear-gradient(#f8c313, #242424);
    color: #ffffff;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Aplica las animaciones al mensaje de bienvenida */
  .welcome-message {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0;
    animation: fadeIn 1s forwards;
    z-index: 1;
    color: #f8c313;
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;;
   
  }
  
  .welcome-message.hide {
    animation: fadeOut 1s forwards;
  }
  
  #intro {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  
  
  #controls{
    display: none;
    width: 100%;
    height: 100vh;
  }
  #controls button{
    display: flex;
    width: 100px;
    height: 50px;
    background: linear-gradient(to bottom, #f8c313 50%, #b58f04 100%);
  }
  #button1{
    position: relative;
  }
  #button2{
    position: relative;
  }
  #button3{
    position: relative;
  }

  #fondo{
    display: none;
    width: 100%;
    height: 90%;
    position: absolute;
  }

  #fondoimg{
    object-fit: fill;
  }

  #goToForest{
    display: flex;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 400px;
    right: 220px;
    align-items: center;
    background: linear-gradient(to bottom, #f8c313 50%, #b58f04 100%);
  }
  #text{
    display: none;
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    background-color: #e7c967;
    border: 2px solid black;
  }
  #text img{
    object-fit: cover;
    height: 100%;
  }

  #map{
    display: none;
  }

  #monsterStats{
    display: none;
      border: 1px solid #0a0a23;
      padding: 5px;
      color: #ffffff;
      background-color: #c70d0d;
    }
  

  

  
  #controls,
  #stats,
  #monsterStats {
    position: relative;
    z-index: 2;
    
  }
  
  #controls {
    text-align: center; /* Alinea los botones al centro */
  }
  .stat {
    padding-right: 10px;
  }

  #marcopj{
    display: none;
    position: absolute;
    bottom: 25px;
    left: 10px;
  }
  #marco{
    display: flex;
    position: absolute;
    background-color: #b58f04;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    z-index: 2;
    bottom: 70px;
    
  }
  #marco img{
    margin: auto;
    width: 90%;
    height: 90%;
    border-radius: 100%;
  }
  #statsmarco{
    display: flex;
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 83px;
    background-color: #b58f04;
    width: 200px;
    height: 70px;
    border-radius: 10px;
  }

  #stats {
    display: none;
    position: relative;
    font-family: "UnifrakturCook", cursive;
    justify-content: space-around;
    width: 50%;
    margin: auto 10px auto auto;
    background-color: #f8c313;
    border-radius: 10px;
    border: 2px solid #ffb300;
    color: #0a0a23;
  }
  
  
  input[type="text"] {
    padding: 10px;
    margin-top: 20px;
    color: #0a0a23;
    background-color: #ffffff;
    border: 1px solid #0a0a23;
    position: relative;
    z-index: 2;
  }
