*{
  margin: 0;
  padding: 0;
}
body, html {
  overflow:hidden;
  }
body img {
  width: 100%;
  height: 100%;
}

  #startScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #ffffff;
    position: relative;
  }
  
  .start-button {
    background-image: linear-gradient(to bottom, #f8c313 50%, #b58f04 100%); /* efecto Linear gradient */
    color: #0a0a23;
    padding: 6px 20px;
    font-size: 16px;
    border: 2px solid black; /* Borde sólido de 2px de grosor */
    cursor: pointer;
    position: relative;
    z-index: 2;
    top: 2%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    opacity: 0.9; /* Opacidad del 90% */
  }
    
  .start-button:hover {
    background-image: linear-gradient(#f8c313, #242424);
    color: #ffffff;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Aplica las animaciones al mensaje de bienvenida */
  .welcome-message {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0;
    animation: fadeIn 1s forwards;
    z-index: 1;
    color: #f8c313;
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;;
   
  }
  
  .welcome-message.hide {
    animation: fadeOut 1s forwards;
  }
  
  #intro {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  
  #stats {
    display: none;
    position: relative;
    font-family: "UnifrakturCook", cursive;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    background-color: #f8c313;
    border-radius: 10px;
    border: 2px solid #ffb300;
    color: #0a0a23;
  }
  #controls{
    display: none;
    width: 100%;
    height: 100vh;
  }
  #controls button{
    display: flex;
    width: 100px;
    height: 50px;
    background: linear-gradient(to bottom, #f8c313 50%, #b58f04 100%);
  }
  #button1{
    position: relative;
  }
  #button2{
    position: relative;
  }
  #button3{
    position: relative;
  }
  #goToForest{
    display: flex;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 400px;
    right: 220px;
    align-items: center;
    background: linear-gradient(to bottom, #f8c313 50%, #b58f04 100%);
  }
  #text{
    display: none;
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 0;
    background-color: #e7c967;
    border: 2px solid #ffb300;
  }

  #map{

  }

  #monsterStats{
    display: none;
  }
¡
  
  #player {
    width: 100px; /* Ancho fijo */
    height: 100px; /* Altura fija */
    position: absolute;
    bottom: 0;
    left: 30%; /* Centrar horizontalmente */
    transform: translateX(-50%);
    z-index: 2; /* Asegurar que esté por encima de otros elementos */
  }
  
  #slime {
    position: absolute; /* Cambiado de relative a absolute */
    width: 10vw; /* Ancho al 100% de la ventana del navegador */
    height: 10vh; /* Altura al 100% de la ventana del navegador */
    right: 40%; /* Centrar horizontalmente */
    bottom: 0; /* Alinear en la parte inferior */
  }
  
  #slimeHealthBar {
    position: absolute; /* Cambiado de relative a absolute */
    bottom: 0;
    left: 0;
    height: 12px; /* Altura de la barra de vida */
    width: 100%; /* Ancho total */
    background-color: #00FF00; /* Color de la barra de vida (verde) */
  }
  
  .health-bar {
    position: absolute; /* Cambiado de relative a absolute */
    bottom: 0;
    height: 12px; /* Altura de la barra de vida */
    width: 100%; /* Ancho total */
    background-color: #00FF00; /* Color de la barra de vida (verde) */
  }
  
  .slime-fight-player,
  .slime-fight-slime {
    bottom: 0;
  }
  
  .slime-fight-player img,
  .slime-fight-slime img {
    width: 80px; /* Ajusta el tamaño del personaje y del slime */
  }
  
  .health-bar {
    position: absolute;
    top: 0;
    height: 12px; /* Altura de la barra de vida */
    width: 100%; /* Ancho total */
    
  }
  
  .health-bar {
    background-color: #00FF00; /* Color de la barra de vida (verde) */
  }
  
  #controls,
  #stats,
  #monsterStats {
    position: relative;
    z-index: 2;
    
  }
  
  #controls {
    text-align: center; /* Alinea los botones al centro */
  }
  .stat {
    padding-right: 10px;
  }
  
  
  input[type="text"] {
    padding: 10px;
    margin-top: 20px;
    color: #0a0a23;
    background-color: #ffffff;
    border: 1px solid #0a0a23;
    position: relative;
    z-index: 2;
  }

